   .aboutDiv {
       display: flex;
       flex-wrap: wrap;
   }
   
   #portrait {
       width: 50%;
   }
   
   .texte {
       width: 50%;
       height: 400px;
       /*border: 1px red dotted;*/
   }
   
   #pres {
       color: white;
       font-size: 2em;
       text-align: left;
   }
   
   .aboutpict {
       text-align: center;
       width: 33.33%;
   }