/*________________Footer____________________*/

.icons{
    width: 60px;
   
    
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    position: relative;
    z-index: 3;
    margin-top: auto;
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.iconcontainer{
    width: 30%;
    display: flex;
    justify-content: space-around;
    
}