   body {
       font-family: 'Ropa Sans', sans-serif;
       background-color: black;
   }
   /*_________________Main_____________________*/
   
   a {
       text-decoration: none;
       color: white;
   }