   body {
       font-family: 'Ropa Sans', sans-serif;
   }
   /*_________________Main_____________________*/
   
<<<<<<< HEAD
   img {
       border-width: 0px;
       border: 0px;
       padding-bottom: 0px;
   }
   
   #aboutMain {
       margin-top: 150px;
       width: 100vw;
       height: 50vw;
       border: 1px blue dotted;
   }
   
   #aboutP {
       color: white;
       width: 100vw;
       height: 50vw;
   }
   
   .aboutDiv {
       display: flex;
       flex: row;
       color: white;
       border: 1px red dotted;
   }
   

=======
   a {
       text-decoration: none;
       color: white;
   }
>>>>>>> 5a573ed8a9ef98f1720ade8415051dd025731356
